@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.BeginForm("DeleteUser", "Home", FormMethod.Post))
{
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
            <img src="https://images.unsplash.com/photo-1590005194861-af70fa800956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">Are you sure you wanna delete your account?</h5>
                    <br>
                    <form action="/DeleteUser" class="validated-form" method="POST" novalidate>
                        <button class="btn btn-danger btn-block" value="DeletePost">Yes, Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
}