@{
    ViewData["Title"] = "Dreams Made";
}
@{
}

<main class="cover-container d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="px-3 text-center text-white" id="index">
            <h1 class="display-4">Welcome to Dreams Made!</h1>
            <br />
            <p class="lead"><span class="span">PUBLISH</span> your brand new Photos and <span class="span">SHARE</span> the <b>DREAMS</b>
                places you loved to go to everyone to see!!</p>
        </div>
    </div>
</main>
