@{
    ViewData["Title"] = "Dreams Made";
}
@{
}

<main class="cover-container d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="px-3 text-center text-white mt-4" id="index">
            <h1 class="display-4">Welcome to Dreams Made!</h1>
            <br />
            <p class="lead mt-2"><span class="span">SHARE</span> your brand new Photos of <b>Dreams</b>
                places you loved to go.</p>
        </div>
    </div>
</main>
