@using DreamsMade.Models
@model Post
@*
*@

@using (Html.BeginForm())
{
<div class="container-fluid d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <h1 class="text-center mb-3">New Dream</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/NewPost" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Dream Title</label>
                    <input class="form-control" type="text" name="title" id="title" maxlength="20" required>
                    <div class="valid-feedback">
                        Cheked!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label" >Choose a Image</label>
                    <input class="form-control" type="file" id="image" name="image">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="text">Compartilhe your experience!</label>
                    <textarea class="form-control" type="text" name="text" id="text"
                        required></textarea>
                    <div class="valid-feedback">
                        Cheked!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success" id="btn-convert" value="NewPost">Add Dream!</button>
                </div>
            </form>
        </div>
    </div>
</div>
}

<script type="text/javascript">
    const toBase64 = file => new Promise((resolve, reject) => {
	const reader = new FileReader();
	reader.readAsDataURL(file);
	reader.onload = () => resolve(reader.result);
	reader.onerror = error => reject(error);
    });

    $('#btn-convert').click(function () {
	const uploadedFile = document.querySelector('#image').files[0];
	toBase64(uploadedFile)
		.then(res => {
			console.log(res);
		})
		.catch(err => {
			console.log(err);
		})
    });
</script>

