@model DreamsMade.Models.Post
@*
*@
@{
    ViewData["Title"] = "My Post";
}


@using (Html.BeginForm()){
<div class="container">
        <h1 class="d-flex justify-content-center my-5">Your Dream</h1>
            <div class="card mb-3 card-show">
                <div class="row">
                    <div class="col-md-4">
                        @*<img src="@Model.image" class="img-fluid">*@
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="border: none;">
                            <h5 class="card-title">
                                @Model.title
                            </h5>
                            <p class="card-text">
                                @Model.text
                            </p>
                            <div>
                                <form asp-action="EditPost">
                                    <a asp-area="" asp-controller="Home" asp-action="EditPost" asp-route-id="@Model?.id" class="btn btn-sm btn-info">Edit</a>
                                </form>
                                <form asp-action="DeletePost">
                                    <a asp-area="" asp-controller="Home" asp-action="DeletePost" asp-route-id="@Model?.id" class="btn btn-sm btn-danger">Delete</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
}


