@model AulaConsumirAPI.Models.Pessoa
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<h3>Nome da pessoa é @Model.nome</h3>
<br />
