#navlink {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(91, 255, 228, 0.8);
    margin-left: 1rem;
    border-bottom: 0.15rem solid transparent;
    font-size: 16px;
}

#navlink:hover {
    border-bottom-color: rgba(255, 74, 240, 0.8);
}

#navlink.active {
    color: #00ffd5;
    border-bottom-color: #00ffd5
}

#nav-span1 {
    color: rgb(91, 255, 228);
}

#nav-span2 {
    color: rgb(255, 74, 240);
}

#footer {
    position:relative;
}
