/* _content/DreamsMade/Views/Home/Index.cshtml.rz.scp.css */
main[b-4fk6xjk7s2] {
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4)), url("https://images.unsplash.com/photo-1525876183281-0d0d9308010d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.35);
}

/*#index {
    font-family: 'Segoe UI', 'Roboto';
}*/


p[b-4fk6xjk7s2] {
    color: black;
    font-size: 32px;
    font-weight:400;
}

.display-4[b-4fk6xjk7s2] {
    font-weight: 700;
    color: #00ffd5;
}

.span[b-4fk6xjk7s2] {
    color: rgb(255, 74, 240);
    font-weight: 600;
}
/* _content/DreamsMade/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-n37kvhmw2k] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-n37kvhmw2k] {
  color: #0077cc;
}

.btn-primary[b-n37kvhmw2k] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-n37kvhmw2k], .nav-pills .show > .nav-link[b-n37kvhmw2k] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-n37kvhmw2k] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-n37kvhmw2k] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-n37kvhmw2k] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-n37kvhmw2k] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-n37kvhmw2k] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
